@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  
}
#details summary::marker{
  content:"+  ";
  
}
.buing-item::before{
  position: absolute;
  --tw-content:url("./accest/Main/Arrow.svg");
  content: var(--tw-content) ;
  left: 100%;
  top:50%;
  margin-left: 5px;
}
@media (max-width: 950px) {
  .buing-item::before{
    rotate: 90deg;
    left:25%;
    bottom: -120px;

  }
}
.active:not(#Item){
  color: #740706;
}
